# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Big files
*/A_*/*.fits
*/A_*/*.bin
*/A_*/extra

# Jupyter stuff
*.ipynb_checkpoints

# Outputs
base/A_*/
base_2024/
base_2024_lianqi/
base_2026/
base_2026_lianqi/
kapa/A_*/
TRICK_or_TREAT/
